:root {
    /* colors  */
    --white: #fff;
    --white-transparent-bg: #ffffffa0;
    --black: #000;
    --gray: #ddd;
    --orange: #ff774b;
    --main-background-color: #fafafb;
    --gold: #daac53;
    /* frequently used values */
    --box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --box-shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --box-shadow-inner: inset 0 2px 25px 0 rgb(0 0 0 / 0.05);
    --container-padding: 0 2rem;
    --section-padding: 2rem 0;
    --section-title-font-size: 1rem;
    --section-margin-bottom: 0.5rem;
    --section-title-margin-bottom: 2.5rem;
    --vertical-bar-height: 1.5rem;
    --item-card-padding: 1rem;
    --reviewer-avatar-size: 1.5rem;
    --social-icon-wrap-size: 1.5rem;
    --social-icon-size: 1rem;
    /* basic font sizes for devices */
    --laptop-fs: 16px;
    --tablet-fs: 15px;
    --mobile-phone-fs: 14px;
}
html {
    font-size: var(--laptop-fs);
}
body {
    font-family: 'PT Sans', sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--main-background-color);
}
p {
    margin: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: var(--container-padding)
}
.section {
    padding: var(--section-padding);
}
.section-title {
    font-size: var(--section-title-font-size);
    font-weight: bold;
    text-align: center;
    margin-bottom: var(--section-title-margin-bottom);
}
.text-orange {
    color: var(--orange);
}
.text-gold {
    color: var(--gold);
}
.text-bold {
    font-weight: bold;
}
.text-center {
    text-align: center;
}
.text-large {
    font-size: 1.8rem;
}
.text-small {
    font-size: 0.7rem;
}
.text-uppercase {
    text-transform: uppercase;
}
.special-font-face {
    font-family: 'Yeon Sung', cursive;
}
.btn {
    padding: .5rem 1.5rem;
    transition: all ease-in 0.2s;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.view-all-btn {
    border: 1px solid var(--gray);
    background-color: var(--white);
    color: var(--black);
    font-size: .8rem;
    margin-top: 1rem;
}
.view-all-btn:hover {
    background-color: var(--main-background-color);
}
.action-btn {
    background-color: var(--orange);
    color: var(--white);
    font-size: .8rem;
    margin-top: 1.5rem;
}
.action-btn:hover {
    opacity: .8;
}
.vertical-bar::before {
    border-left: 2px solid var(--gray);
    font-size: var(--vertical-bar-height);
    content: '';
}
.grid-box {
    display: grid;
    grid-gap: 1.5rem;
}
.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* nav bar start */
#logo {
    font-family: 'Yeon Sung', cursive;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--black);
    display: flex;
    justify-content: center;
}
#logo-svg-icon {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}
#nav-bar-wrap {
   background-color: var(--white);
   padding: 0.5rem 0;
   border-bottom: 1px solid var(--gray);
   position: sticky;
   top: 0;
   z-index: 1000;
}
#menu-toggle {
    display: none!important;
}
#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#nav-link-container {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.nav-link-wrap {
    margin-left: 1rem;
}
.nav-link {
    font-size: 1rem;
}
/* nav bar end */

/* main carousel start */
.slider-container {
    margin: 0 !important;
    padding: 0 !important;
}
.slider-container > li {
    margin: 0 !important;
    padding: 0 !important;
    height: auto;
}
.hero-image-container-wrap {
    width: 100%;
    height: 80vh !important;
    background-position: center;
    background-size: cover;
}
.hero-image-container-wrap.one {
    background-image: url("./assets/images/hero-images/camping-1.jpg");
}
.hero-image-container-wrap.two {
    background-image: url("./assets/images/hero-images/camping-2.jpg");
}
.hero-image-container-wrap.three {
    background-image: url("./assets/images/hero-images/camping-3.jpg");
}
.hero-image-container {
    height: 100%;
    display: flex;
    align-items: center;
}
.action-button-container {
    padding: 1.5rem;
    box-shadow: var(--box-shadow);
    background-color: var(--white-transparent-bg);
    max-width: 350px;
}
/* main carousel end */

/* discount section start */
#discount-section {
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    grid-gap: .5rem;
}
.discount-card {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    padding: 1rem 1.5rem;
    flex-basis: 100px;
    flex-grow: 1;
}
.discount-card:not(:last-child) {
    margin-right: 1rem;
}
.discount-price {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1rem;
    font-weight: bold;
    color: var(--orange);
}
.discount-criteria {
    font-size: 1rem;
}
.discount-off-tag {
    margin-left: 0.3em;
    text-transform: uppercase;
    background-color: var(--white);
    padding: 0.3em var(--section-margin-bottom);
    color: var(--black);
}
.discount-off-tag.special {
    background-color: var(--gold);
    color: var(--white)
}
/* discount section end */

/* categories seciton start */
#categories-section-wrap {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    margin-bottom: var(--section-margin-bottom);
}
.categories-card-section {
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}
.category-card {
    box-shadow: var(--box-shadow-inner);
    padding: var(--item-card-padding);
    background-color: var(--white);
    margin-bottom: 1rem;
}
.category-image-wrap {
    margin-bottom: var(--section-margin-bottom);
}
.category-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
/* categories seciton end */

/* camping furniture section start */
#camping-furniture-section-wrap {
    margin-bottom: var(--section-margin-bottom);
}
.camping-furniture-card-section {
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
}
.camping-furniture-card {
    box-shadow: var(--box-shadow);
    padding: var(--item-card-padding);
    background-color: var(--white);
    display: flex!important;
    flex-direction: row!important;
}
.furniture-image-wrap {
    margin-right: .5rem;
    width: 70px;
    flex-grow: 0;
}
.furniture-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.furniture-info {
    flex-grow: 1;
}
.furniture-price {
    display: flex !important;
}
.furniture-discount-text {
    margin-left: .5rem;
}
.furniture-description {
    margin-bottom: .3rem;
}
/* camping furniture section end */

/* sales statistics start */
#sales-statistics-wrap {
    box-shadow: var(--box-shadow);
    margin-bottom: var(--section-margin-bottom);
    background-color: var(--white);
}
#sales-statistics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#sales-statistics>div:not(:last-child) {
     margin-right: 3.5rem;
}
/* sales statistics end */

/* testimonials start */
#testimonials-wrap {
    background-color: var(--white);
    margin-bottom: var(--section-margin-bottom);
    box-shadow: var(--box-shadow);
    padding-bottom: 3.5rem;
}
#testimonials {
    max-width: 800px;
    margin-bottom: 2rem;
}
.testimonials-section-title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonials-section-title {
    margin-bottom: 0;
}
.testimonials-title-underline {
    width: 50px;
    border-bottom: 2px solid var(--gold);
    margin-top: .3rem;
    margin-bottom: 2.6rem;
}
.testimonials-card-container {
    grid-template-columns: repeat( auto-fit, minmax(230px, 1fr) );
    gap: 2rem;
}
.testimonials-description {
    margin-bottom: var(--section-title-margin-bottom);
}
.testimonial-card {
    box-shadow: var(--box-shadow);
    padding: var(--item-card-padding);
}
.reviewer-info-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.reviewer-info {
    margin-left: .5rem;
}
.reviewer-image {
    border-radius: 50%;
    width: var(--reviewer-avatar-size);
    height: var(--reviewer-avatar-size);
    object-fit: cover;
    object-position: center;
}
/* testimonials end */

/* footer start */
#footer-wrap {
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    padding: 2rem;
    border-top: 1px solid var(--gray);
    z-index: 1000;
}
#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--black)
}
.social-icon {
    border-radius: 50%;
    width: var(--social-icon-wrap-size);
    height: var(--social-icon-wrap-size);
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon-container {
    display: flex;
}
.social-icon:not(:last-child) {
    margin-right: .5rem;
}
.social-icon-svg {
    width: var(--social-icon-size);
    height: var(--social-icon-size);
}
/* footer end */

/* furniture page start */
#furniture-gallery-wrap {
    background-color: var(--main-background-color);
    margin-bottom: 2rem;
}
#furniture-gallery {
    display: flex;
    flex-direction: row;
    row-gap: 3rem;
    padding-top: 0;
    position: relative;
}
#furniture-gallery--title {
    margin-top: 3rem;
}
#furniture-cards-container-wrap {
    flex-grow: 1;
}
#furniture-cards-container {
    width: 100%;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}
.furniture-card {
    width: 100%;
    transition: all ease-in-out .3s;
    background-color: var(--white);
    text-align: center;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}
.furniture-card:hover {
    /* box-shadow: var(--box-shadow-lg); */
    transform: scale(1.05);
}
.furniture-card--product-info-container {
    background-color: var(--orange);
    padding: .2rem 0.8rem;
    color: var(--white);
    padding-bottom: 0.8rem;
}
.furniture-card--image {
    width: 70%;
    height: auto;
    margin: 2rem 0;
    margin-bottom: 0;
}
.furniture-card--product-title {
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: .2rem;
}
.furniture-card--product-description {
    text-transform: capitalize;
    color:rgb(0 0 0 / 0.5);
    margin: .3rem 0;
    font-size: .8rem;
    padding: 0 1.5rem;
}
.furniture-card--product-discounted-price {
    font-size: 1.25rem;
    font-weight: bold;
}
.furniture-card--product-discount-percent {
    margin-left: .3rem;
    font-size: .8rem;
}
.furniture-card--action-btn-wrap {
    background-color: var(--orange);
}
.furniture-card--action-btn {
    font-size: .8rem;
    margin-top: 1rem;
    color: var(--white);
    text-decoration: none;
    width: 100%;
    text-align: center;
    background-color: var(--orange);
    display: block;
    padding: .8rem 0;
    transition: all ease-in-out .3s;
}
.furniture-card--action-btn:hover {
    opacity: .5;
    color: var(--white)
}
.filter-container-wrap {
    position: relative;
    padding-left: 1.5rem;
    flex-basis: 20rem;
    flex-grow: 0;
}
.filter-container {
    top: 0;
    padding: 1rem;
    position: sticky;
}
.popular-term-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: .8rem;
}
.filter-container-title {
    margin-bottom: 1.5rem;
    color:rgb(0 0 0 / 0.5);
}
.popular-term {
    border: 1px solid var(--gray);
    padding: .3rem 1rem;
    background-color: var(--white);
    margin-right: .8rem;
    cursor: pointer;
    color:rgb(0 0 0 / 0.5);
}
.popular-term.selected {
    color: var(--orange);
    border-color: var(--orange);
}
.popular-term:hover {
    border-color: var(--black);
}
.popular-term.selected:hover {
    background-color: var(--orange);
    color: var(--white);
    border-color: var(--orange);
}
/* furniture page end */

/* basket page start */
.basket-section--product.removed {
	margin-left: 980px !important;
	opacity: 0;
}

.basket-section--product {
	border: 1px solid #eee;
	margin: 20px 0;
	width: 100%;
	height: 195px;
	position: relative;
	transition: margin .2s linear, opacity .2s linear;
}

.basket-section--product img {
	width: 100%;
	height: 100%;
    background-color: var(--white);
    object-fit: contain;
    object-position: center;
}

.basket-section--product header, .basket-section--product .basket-section--product-content {
	background-color: var(--white);
	border: 1px solid #ccc;
	border-style: none none solid none;
	float: left;
}

.basket-section--product header {
	background: var(--white);
	margin: 0 1% 20px 0;
	overflow: hidden;
	padding: 1.5rem;
	position: relative;
	width: 24%;
	height: 195px;
}

.basket-section--product header:hover img {
	opacity: .7;
}

.basket-section--product header:hover h3 {
	bottom: 73px;
}

.basket-section--product header h3 {
	background: var(--orange);
	color: #fff;
	font-size: 1.3rem;
    text-transform: uppercase;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
	position: absolute;
	bottom: -50px;
	right: 0;
	left: 0;
	transition: bottom .2s linear;
}

.basket-section--product-content {
	box-sizing: border-box;
	height: 140px;
	padding: 0 20px;
	width: 75%;
}

.basket-section--product h1 {
	color: var(--orange);
	font-size: 1.5rem;
	font-weight: 300;
	margin: 17px 0 20px 0;
}

.basket-section--product footer.content {
	height: 50px;
	margin: 10px 0 0 0;
	padding: 0;
}

.basket-section--product footer .price {
	background: #fcfcfc;
	color: #000;
	float: right;
	font-size: 15px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
}

.basket-section--product footer .full-price {
	background: var(--orange);
	color: #fff;
	float: right;
	font-size: 1.3rem;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
	transition: margin .15s linear;
}

.qt, .qt-plus, .qt-minus {
	display: block;
	float: left;
}

.qt {
	font-size: 19px;
	line-height: 50px;
	width: 70px;
	text-align: center;
}

.qt-plus, .qt-minus {
	background: #fcfcfc;
	border: none;
	font-size: 30px;
	font-weight: 300;
	height: 100%;
	padding: 0 20px;
	transition: background .2s linear;
}

.qt-plus:hover, .qt-minus:hover {
	background: var(--orange);
	color: #fff;
	cursor: pointer;
}

.qt-plus {
	line-height: 50px;
}

.qt-minus {
	line-height: 47px;
}
/* basket page end */

/* reviews page start */
#reviews-cards {
    grid-template-columns: repeat( auto-fit, minmax(230px, 1fr) );
    gap: 2rem;
}
.review-form {
	 background-color: #fff;
	 width: 600px;
	 height: 450px;
	 position: relative;
	 display: grid;
	 grid-template-columns: 1fr 1fr;
	 place-items: center;
	 line-height: 1.5;
	 box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
}
 .review-form img {
	 width: 250px;
	 height: 400px;
	 object-fit: cover;
	 object-position: center;
}
 .review-form-text {
	 padding: 10px 40px 10px 10px;
}
 .review-form-text h2 {
	 font-size: 1.2rem;
	 color: #1a2250;
}
 .review-form-text p {
	 font-size: 14px;
	 color: #3b4169;
	 margin: 10px 0;
}
 .review-form-text input, .review-form-text button {
	 width: 100%;
	 border: none;
	 padding: 14px;
	 border-radius: 3px;
}
 .review-form-text input {
	 border: 2px solid #daddec;
	 margin: 5px 0 10px;
	 font-size: 1rem;
	 color: #656880;
}
 .review-form-text button {
	 background-color: var(--orange);
	 display: block;
	 color: #fff;
	 font-size: 1rem;
	 cursor: pointer;
	 box-shadow: 0 5px 20px #89caff 94;
	 transition: box-shadow 0.3s ease-in-out;
}
 .review-form-text button:hover {
	 box-shadow: none;
}
 .review-form-text span {
	 display: block;
	 text-align: center;
	 margin: 20px 0 0;
	 color: #babdcb;
	 font-size: 12px;
}
/* reviews page end */

/* responsive start */
/* for tablets */
@media only screen and (max-width: 800px) {
    html {
        font-size: var(--tablet-fs);
    }
    #sales-statistics-wrap {
        display: none;
    }
    #nav-bar {
        display: none;
    }
    #nav-bar-wrap {
        background-color: #ffffff80;
    }
    #menu-toggle {
        display: block!important;
    }
    .basket-section--product header {
        display: none;
    }
    .basket-section--product {
        padding: 1rem;
    }
    .filter-container {
        display: none;
    }
    #furniture-gallery {
        display: block;
    }
    .review-form {
        grid-template-columns: 1fr;
        height: auto;
        width: 100%;
    }
     .review-form img {
        width: 100%;
     }
}
/* for mobile phones */
@media only screen and (max-width: 400px) {
    html {
        font-size: var(--mobile-phone-fs);
    }
}
/* responsive end */